.ripple-yellow {
  color: #fca311;
}

.main-page-button {
  margin-top: 128px;
  font-size: 18px;
  font-weight: 500;
  color: #14213d;
}
.btn-common {
  color: #14213d;
  font-weight: 500;
  font-size: 14px;
  background-color: #fca311;
  color: white;
}
.btn-text {
  color: #14213d;
  opacity: 1;
  letter-spacing: normal;
  font-weight: 400;
}

.btn-text-active {
  background-color: transparent !important;
  color: #fca311;
}

.btn-text:hover {
  color: #fca311;
}
