@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-lg {
  font-size: 32px;
}

.font-xl {
  font-size: 40px;
}
